<!DOCTYPE html>
<html>

<head>
  <link href='/css/styles.css' rel='stylesheet'>
  <link rel='icon' href='/img/weather.png'>
  <title>About</title>
</head>

<body>
  <div class='main-content'>
    {{>header}}
    <p>This site uses data from mapbox.com and darksky.net</p>
    <img class='portrait' src='./img/face.jpg'>
  </div>
  {{>footer}}
</body>

</html>